.about-simple-footer {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about-simple-footer .div {
    background-color: var(--bg-gray);
    width: 1440px;
    height: 944px;
    position: relative;
  }
  
  .about-simple-footer .about-me {
    display: flex;
    flex-direction: column;
    width: 588px;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 199px;
    left: 120px;
  }
  
  .about-simple-footer .title {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--title-h2-font-family);
    font-weight: var(--title-h2-font-weight);
    color: var(--font-high-emphasis);
    font-size: var(--title-h2-font-size);
    letter-spacing: var(--title-h2-letter-spacing);
    line-height: var(--title-h2-line-height);
    font-style: var(--title-h2-font-style);
  }
  
  .about-simple-footer .text {
    position: relative;
    align-self: stretch;
    font-family: "Nunito-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-medium-emphasis);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .about-simple-footer .button-primary {
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--brand-yellow);
    border-radius: 8px;
  }
  
  .about-simple-footer .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .about-simple-footer .bg {
    position: absolute;
    width: 524px;
    height: 524px;
    top: 94px;
    left: 796px;
    background-color: var(--brand-yellow);
    border-radius: 262px;
    background-image: url(images/png-clipart-shego-dr-drakken-kim-possible-drawing-disney-channel-blue-caterpillar-miscellaneous-tele.svg);
    background-size: 100% 100%;
  }
  
  .about-simple-footer .header {
    position: absolute;
    width: 1440px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  
  .about-simple-footer .text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 120px;
    font-family: "Comfortaa-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .about-simple-footer .nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    position: absolute;
    top: 14px;
    left: 1029px;
  }
  
  .about-simple-footer .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about-simple-footer .sobre {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .about-simple-footer .rectangle {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 2px;
    background-color: var(--bg-line);
    border-radius: 2px;
  }
  
  .about-simple-footer .sobre-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-18px-font-family);
    font-weight: var(--body-18px-font-weight);
    color: var(--font-high-emphasis);
    font-size: var(--body-18px-font-size);
    letter-spacing: var(--body-18px-letter-spacing);
    line-height: var(--body-18px-line-height);
    white-space: nowrap;
    font-style: var(--body-18px-font-style);
  }
  
  .about-simple-footer .footer-icons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: absolute;
    top: 762px;
    left: 624px;
  }
  
  .about-simple-footer .icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about-simple-footer .img {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .about-simple-footer .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Nunito-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-medium-emphasis);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  :root {
    --brand-yellow: rgba(253, 196, 53, 1);
    --bg-gray: rgba(249, 250, 255, 1);
    --bg-white: rgba(255, 255, 255, 1);
    --bg-line: rgba(37, 40, 43, 1);
    --font-high-emphasis: rgba(37, 40, 43, 1);
    --font-medium-emphasis: rgba(130, 130, 130, 1);
    --font-low-emphasis: rgba(154, 159, 168, 1);
    --title-h1-font-family: "PlayfairDisplay-Bold", Helvetica;
    --title-h1-font-weight: 700;
    --title-h1-font-size: 64px;
    --title-h1-letter-spacing: 0px;
    --title-h1-line-height: 120.00000476837158%;
    --title-h1-font-style: normal;
    --title-h2-font-family: "PlayfairDisplay-Bold", Helvetica;
    --title-h2-font-weight: 700;
    --title-h2-font-size: 48px;
    --title-h2-letter-spacing: 0px;
    --title-h2-line-height: 72px;
    --title-h2-font-style: normal;
    --body-24px-font-family: "Nunito-Regular", Helvetica;
    --body-24px-font-weight: 400;
    --body-24px-font-size: 24px;
    --body-24px-letter-spacing: 0px;
    --body-24px-line-height: 36px;
    --body-24px-font-style: normal;
    --body-18px-font-family: "Raleway-Medium", Helvetica;
    --body-18px-font-weight: 500;
    --body-18px-font-size: 18px;
    --body-18px-letter-spacing: 0px;
    --body-18px-line-height: 28px;
    --body-18px-font-style: normal;
  }
